// Specific CSS for your home-page

body {
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(45,45,45,1) 0%, rgba(0,0,0,1) 100%);
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.site-content {
  flex: 1
}
