<div class="footer">
  <div class="footer-links">
    <a href="https://www.linkedin.com/in/sabri-derbala-4a3789173/"><i class="fa-brands fa-linkedin mt-3 ms-3 fa-xl" style="color: white"></i></a>
    <a href="https://www.linkedin.com/in/sabri-derbala-4a3789173/"><i class="fa-brands fa-github mt-3 ms-3 fa-xl" style="color: white"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright © <%= Date.current.year %> Derbala Sabri</i>
  </div>
</div>
