<div class="site-content">
  <div class="d-flex justify-content-center" style="margin-bottom: 100px;">

    <div id="projet" class="row mt-5 d-flex justify-content-center">

      <div class="animate__animated animate__backInDown col-lg-4 col-sm-12 d-flex justify-content-center align-items-center m-4">
        <div class="row d-flex justify-content-center">
          <div class="col-12 d-flex justify-content-center">
            <a href="https://tarznb.osc-fr1.scalingo.io/">
              <%= cl_image_tag("Tarznb", width: 600, height: 300, radius: 15, crop: :fit) %>
            </a>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <p class="p-5" style="color: white; text-align: center"><span style="font-weight: bold; font-size: 30px">Tarznb</span><br><br>
            <span style="font-style: italic">Un projet que j'ai réalisé pour les amoureux de la nature et des sensations fortes, proposant une expérience unique de location de cabanes dans les arbres. Découvrez un univers enchanteur en hauteur, pour une expérience immersive au cœur de la nature.</span></p>
          </div>
        </div>
      </div>

      <div class="animate__animated animate__backInDown col-lg-4 col-sm-12 d-flex justify-content-center align-items-center m-4">
        <div class="row d-flex justify-content-center">
          <div class="col-12 d-flex justify-content-center">
            <a href="https://rails-watchlist-sabri.osc-fr1.scalingo.io/">
              <%= cl_image_tag("watchlist", width: 600, height: 300, radius: 15, crop: :fit) %>
            </a>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <p class="p-5" style="color: white; text-align: center"><span style="font-weight: bold; font-size: 30px">Watchlist</span><br><br>
            <span style="font-style: italic">Un projet que j'ai créé pour les cinéphiles et les amateurs de séries. Gardez une trace de tous vos films et séries préférés en un seul endroit. Avec une interface conviviale et personnalisable, suivez facilement vos prochaines diffusions et vos coups de cœur à regarder encore et encore..</span></p>
          </div>
        </div>
      </div>

      <div class="animate__animated animate__backInDown col-lg-4 col-sm-12 d-flex justify-content-center align-items-center m-4">
        <div class="row d-flex justify-content-center">
          <div class="col-12 d-flex justify-content-center">
            <a href="https://sabriderbala.github.io/landing/">
              <%= cl_image_tag("landing",  width: 600, height: 300, radius: 15, crop: :fit) %>
            </a>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <p class="p-5" style="color: white; text-align: center"><span style="font-weight: bold; font-size: 30px;">Landing Page</span><br><br>
            <span style="font-style: italic">Un projet de Landing Page que j'ai créé pour aider les entreprises à convertir les visiteurs en clients. Avec un design moderne et épuré, cette page d'accueil engageante et professionnelle offre une expérience utilisateur optimisée pour augmenter les taux de conversion et maximiser l'impact de votre entreprise en ligne.</span></p>
          </div>
        </div>
      </div>

      <div class="animate__animated animate__backInDown col-lg-4 col-sm-12 d-flex justify-content-center align-items-center m-4">
        <div class="row d-flex justify-content-center">
          <div class="col-12 d-flex justify-content-center">
            <%= cl_image_tag("barocentree", width: 600, height: 300, radius: 15, crop: :fit) %>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <p class="p-5" style="color: white; text-align: center"><span style="font-weight: bold; font-size: 30px; ">Barocentre</span><br><br>
            <span style="font-style: italic">Un projet que j'ai créé pour faciliter la recherche de bars dans le centre-ville. Trouvez facilement des bars à proximité de votre adresse, de votre mode de transport préféré ou en fonction des recommandations d'autres utilisateurs. Avec une interface utilisateur conviviale et une base de données de bars en constante expansion, Barocentre est la solution idéale pour planifier une soirée réussie.</span></p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
