<div class="d-flex justify-content-center" style="margin-bottom: 100px">
  <div class="row mt-5">
    <div class="col-12 d-flex justify-content-center m-3">
     <a href="https://tarznb.osc-fr1.scalingo.io/">
      <%= cl_image_tag("Tarznb", width: 800, height: 500, radius: 15, crop: :fit) %>
    </a>
    </div>

    <div class="col-12 d-flex justify-content-center m-3">
      <a href="https://rails-watchlist-sabri.osc-fr1.scalingo.io/">
        <%= cl_image_tag("watchlist", width: 800, height: 500, radius: 15, crop: :fit) %>
      </a>
    </div>

    <div class="col-12 d-flex justify-content-center m-3">
      <a href="https://sabriderbala.github.io/landing/">
        <%= cl_image_tag("landing",  width: 800, height: 500, radius: 15, crop: :fit) %>
      </a>
    </div>

    <div class="col-12 d-flex justify-content-center m-3">
      <%= cl_image_tag("barocentree", width: 800, height: 500, radius: 15, crop: :fit) %>
    </div>
  </div>
</div>
