<div class="d-flex justify-content-center" style=" height: 100vh; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1619252584172-a83a949b6efd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);">
  <div class="row mt-5">
    <div class="col-3 d-flex justify-content-center">
     <a href="https://tarznb.osc-fr1.scalingo.io/">
      <%= cl_image_tag("Tarnb", width: 400, height: 700) %>
    </a>
    </div>

    <div class="col-3 d-flex justify-content-center">
      <a href="https://rails-watchlist-sabri.osc-fr1.scalingo.io/">
        <%= cl_image_tag("watchlist", width: 400, height: 700) %>
      </a>
    </div>

    <div class="col-3 d-flex justify-content-center">
      <a href="https://sabriderbala.github.io/landing/">
        <%= cl_image_tag("landing",  width: 400, height: 700) %>
      </a>
    </div>

    <div class="col-3 d-flex justify-content-center">
      <%= cl_image_tag("barocentree", width: 400, height: 700) %>
    </div>
  </div>
</div>
