.navbar {
  align-items: center;
  background-color: #393E46;
}

.navbar a {
  color: #F6F6E3;
  font-size: 20px;
  font-family: "Sora", "Helvetica", "sans-serif";
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right : 30px;
}

.navbar a:hover {
  color: #C2DBC1;
}
